# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#temp file
*.php-tmp
.phpintel/3af72dbfed53f6c287a93323faa6ca82
.phpintel/3d51a40047576fcb8987deb9b09a161b
.phpintel/6d244f0067fec1c76dee562e8d06c96b
.phpintel/a203bf62f3fcf1e204ebeb468e795b3d
.phpintel/index
